/*Icon Buttons*/

.menulistheader {
	padding: 1px;
	background-color: #FFFFE8;
	font-weight: bold;
}

.menulistAddOn {
	padding: 1px;
	background-color: #FFFFE8;
	font-weight: bold;
	border-bottom: solid 1px blue;
}

.fondstyle {
	padding: 5px;
/* border-top: groove; */
	border-top: 2px dotted;
	background-color: #FFFFE8;
}

.test {
	 list-style-image: url("chrome://agrisig/skin/images/zoom_ar.gif");
}


.icon_filtre_col {
	 list-style-image: url("chrome://agrisig/skin/images/loupe.png");
}

.icon_filtre_col_active {
	 list-style-image: url("chrome://agrisig/skin/images/loupeActive.png");
}

.icon_filtre_defaut_inactif {
	 list-style-image: url("chrome://agrisig/skin/images/loupe.png");
}

.icon_filtre_defaut_actif {
	 list-style-image: url("chrome://agrisig/skin/images/loupeActive.png");
}

.icon_filtre_actif {
	 list-style-image: url("chrome://agrisig/skin/images/actif.png");
}

.icon_filtre_inactif {
	 list-style-image: url("chrome://agrisig/skin/images/inactif.png");
}

.icon_Ajouter{
	 list-style-image: url("chrome://agrisig/skin/images/outilsAdd.gif");
}

.icon_Ajouter[disabled=true] {
	 list-style-image: url("chrome://agrisig/skin/images/outilsAdd_disabled.png");
}

.icon_Supprimer{
	 list-style-image: url("chrome://agrisig/skin/images/outilsSuppr.gif");
}

.icon_Supprimer[disabled=true] {
	 list-style-image: url("chrome://agrisig/skin/images/outilsSuppr_disabled.png");
}


.icon_Modifier {
	 list-style-image: url("chrome://agrisig/skin/images/outilsMAJ.gif");
}

.icon_Modifier[disabled=true] {
	 list-style-image: url("chrome://agrisig/skin/images/outilsMAJ_disabled.png");
}



.icon_FlecheHaut {
	 list-style-image: url("chrome://agrisig/skin/images/FlecheHaut.png");
}

.icon_FlecheHaut_Inactif {
	 list-style-image: url("chrome://agrisig/skin/images/FlecheHautDisabled.png");
}

.icon_FlecheBas {
	 list-style-image: url("chrome://agrisig/skin/images/FlecheBas.png");
}

.icon_FlecheBas_Inactif {
	 list-style-image: url("chrome://agrisig/skin/images/FlecheBasDisabled.png");
}
/*
vbox,hbox,panel,panels,tab,tabs,tabbox,tabpanel,tabpanels,groupbox,window,dialog,box,deck,spacer,label,panel,stack,splitter,scrollbar
{
	color: #5555FF;
	background-color: #DDDDFF;
}
*/

textbox[disabled=true],menulist[disabled=true],label[disabled=true],checkbox[disabled=true] {
  color: #FF0000
}

treechildren::-moz-tree-row(makeItRed)
{
  background-color: red;
}


treechildren::-moz-tree-cell(makeItBlue)
{
  background-color: blue;
}
